@use 'variables' as *;

footer {
  &.footer {
    text-align: center;
    background-color: var(--footer-backgroundcolor);
  }

  button:not(#settingsPortalglyphButtons button) {
    margin: 1rem 0;
  }

  .footerLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-block-start: 1rem;
    font-size: large;

    button {
      all: unset;
      color: var(--link-color);
      cursor: pointer;
      margin: 0 !important;
      transition: var(--theme-transition);

      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}
