@use "variables" as *;

#gallery_descs {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-block-start: 2em;
}

.gallery-item {
	display: flex;
	width: 100%;
	max-width: 700px;
	margin: 0 auto .5em;
	background-color: rgba(150, 150, 150, 0.1);
	/*
	RGB!! ~past-Lenni
	RGB what? ~future-Lenni
	dafuq are you two talking about ~future-future-Lenni
	*/
	border-radius: var(--border-radius);

	.gallery-media {
		display: flex;
		justify-content: center;
		width: 200px;
	}

	.gallery-media img {
		max-height: 150px;
		margin: 0 auto;
		border-radius: .5em;
		object-fit: contain;
		min-width: 100px;
	}

	.gallery-meta {
		flex-grow: 1;
		padding: .5em;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: .5rem;

		input {
			min-height: 25px;
		}
	}

	&>*:last-child {
		margin-block-start: 5px;
	}

	.controlButtons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: .5em;
		padding-inline-start: 0;

		.moveButton {
			margin: .2em 0;
			display: none;
			height: auto;

			svg {
				filter: invert(var(--invert));
			}
		}

		.delete-icon {
			all: unset;
			cursor: pointer;
			-webkit-user-select: none;
			user-select: none;
		}
	}

	&:first-child:last-child .controlButtons :is(.handle, .moveButton) {
		visibility: hidden;
	}
}

.handle {
	width: 33px;
	filter: invert(var(--invert));

	&:hover {
		cursor: grab;
	}

	&:active {
		cursor: grabbing;
	}
}

.gallery-item .controlButtons .delete-icon,
.handle {
	opacity: .7;

	&:hover {
		opacity: 1;
	}
}