@use "variables" as *;

.button {
	background-color: transparent;
	color: var(--text-color);
	border-color: var(--border-color);
	white-space: normal;

	&.is-link.is-outlined {
		color: #4a80d9;
		border-color: #4a80d9;

		&:not([disabled]):hover {
			color: white;
		}
	}

	&:not(#portalglyphButtons .button, .portalglyphButtons .button) {
		height: auto;
	}

	&:hover {
		color: var(--border-color-focus);
		border-color: var(--border-color-hover);
	}

	&:focus {
		color: unset;
	}

	&:active {
		color: var(--border-color-focus);
		border-color: var(--border-color-focus);
	}


	&.is-primary {

		&:not(.is-outlined),
		&.is-outlined:hover,
		&.is-outlined:active,
		&.is-outlined:focus {
			color: var(--body-backgroundcolor);
		}
	}
}

.button:not([class*="is-"]):focus,
.button:not([class*="is-"]):focus-visible,
textarea:focus,
textarea:focus-visible,
input:not([type="file"], [type="checkbox"], [type="radio"]):focus,
input:not([type="file"], [type="checkbox"], [type="radio"]):focus-visible,
button.tooltip:not([aria-disabled]):focus-visible,
button.delete-icon:focus-visible {
	outline: 2px solid var(--outline-color) !important;
}

textarea,
input {
	background-color: var(--input-background);
	color: var(--text-color);
	border-color: var(--border-color);

	&:hover {
		border-color: var(--border-color-hover);
	}

	&:focus {
		border-color: var(--border-color-focus) !important;

		&:hover {
			border-color: var(--border-color-focus-hover) !important;
		}
	}

	&::placeholder {
		color: var(--placeholder-color);
	}
}

input {
	&[type="date"]::-webkit-calendar-picker-indicator {
		filter: invert(var(--invert));
	}

	&[type="file"] {
		width: 100%;
		background-color: transparent;

		&::file-selector-button {
			padding: 2px 5px;
		}
	}
}

select,
input[type="file"]::file-selector-button {
	background-color: var(--input-background);
	color: var(--text-color);
	border: 1px solid;
	border-color: var(--border-color);
	border-radius: var(--border-radius);
	padding-inline-start: 5px;

	&:hover {
		background-color: var(--input-background-hover);
		border-color: var(--border-color-hover);
	}

	&:focus {
		border-color: var(--border-color-focus);
	}
}

select {
	&:has(optgroup:hover) {
		background-color: var(--input-background-hover);
	}

	option {
		background-color: var(--input-background);
	}

	optgroup {
		background-color: var(--input-background-hover);
	}
}

.checkbox:hover {
	color: var(--text-color);
}

*~input[type="file"] {
	margin-block-start: 5px;
}

select,
input[type="text"],
input[type="number"],
input[type="date"] {
	min-width: 100px;
	width: 100%;
	min-height: 25px;
}

textarea {
	display: block;
	width: 100%;
	min-height: 75px;
	resize: vertical;
	margin-block-start: 3px;
}

textarea,
input[type="text"],
input[type="number"],
input[type="date"] {
	border-radius: var(--border-radius);
	border: 1px solid;
	border-color: var(--border-color);
	padding: 0 5px;

	&:hover {
		border: 1px solid;
		border-color: var(--border-color-hover);
	}
}

.merchant-search {
	margin-block-end: .5rem;
	background-color: var(--input-background);
}

.merchant-search,
.merchant-search::placeholder {
	color: var(--text-color);
}