@use "variables" as *;

/*
reset button styles
the `all: unset` MUST be at the top!
*/
button.tooltip {
	all: unset;
	width: 15px;
	min-width: 15px;
	height: auto;
	position: relative;
	display: inline-block;
	outline: none;

	&>data {
		display: none;
	}

	&>img {
		position: relative;
		top: 3px;
		filter: invert(var(--invert));
	}

	&:not([aria-disabled]) {
		cursor: pointer;
	}

	.tooltiptext {
		--width: 150px;
		visibility: hidden;
		width: var(--width);
		background-color: var(--tooltip-background);
		color: var(--text-color);
		text-align: center;
		border-radius: var(--border-radius);
		padding: 5px 3px;
		position: absolute;
		z-index: 1;
		bottom: 110%;
		left: 50%;
		margin-inline-start: calc(var(--width) * -0.5 - 3px);
		opacity: 0;
		transition: opacity .3s !important;
		font-weight: normal;

		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-inline-start: -5px;
			border: 5px solid transparent;
			border-block-start-color: var(--tooltip-background);
		}
	}

	&:hover .tooltiptext,
	&:focus-visible .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}