:root {
	--body-backgroundcolor: hsl(0, 0%, 100%);
	--footer-backgroundcolor: hsl(0, 0%, 98%);
	--tooltip-background: hsl(0, 0%, 85%);
	--input-background: hsl(0, 0%, 100%);
	--input-background-hover: hsl(0, 0%, 90%);
	--outline-color: hsl(200, 100%, 50%);
	--text-color: hsl(0, 0%, 15%);
	--heading-color: hsl(0, 0%, 10%);
	--code-color: hsl(0, 0%, 20%);
	--placeholder-color: hsl(0, 0%, 30%);
	--link-color: hsl(226, 77%, 45%);
	--link-hover-color: hsl(226, 77%, 57%);
	--border-color: hsl(0, 0%, 60%);
	--border-color-hover: hsl(0, 0%, 30%);
	--border-color-focus: hsl(0, 0%, 15%);
	--border-color-focus-hover: hsl(0, 0%, 0%);
	--table-border-color: hsla(0, 0%, 20%, 0.1);
	--column-divider-color: hsl(0, 0%, 80%);
	--is-even-background-color: hsl(0, 0%, 93%);
	--is-odd-background-color: hsl(0, 0%, 96%);
	--border-radius: 5px;
	--invert: 0%;
	--theme-transition: all 0.3s;
}

/* Dark Theme */
[data-theme="dark"] {
	--body-backgroundcolor: hsl(228, 10%, 10%);
	--footer-backgroundcolor: hsl(0, 0%, 7%);
	--tooltip-background: hsl(0, 0%, 30%);
	--input-background: hsl(0, 0%, 10%);
	--input-background-hover: hsl(0, 0%, 20%);
	--text-color: hsl(0, 0%, 85%);
	--heading-color: hsl(0, 0%, 90%);
	--code-color: hsl(0, 0%, 80%);
	--placeholder-color: hsl(0, 0%, 70%);
	--link-color: hsl(217, 65%, 57%);
	--link-hover-color: hsl(217, 65%, 70%);
	--border-color: hsl(0, 0%, 40%);
	--border-color-hover: hsl(0, 0%, 70%);
	--border-color-focus: hsl(0, 0%, 85%);
	--border-color-focus-hover: hsl(0, 0%, 100%);
	--table-border-color: hsla(0, 0%, 80%, 0.1);
	--column-divider-color: hsl(0, 0%, 20%);
	--is-even-background-color: hsl(228, 10%, 16%);
	--is-odd-background-color: hsl(228, 10%, 13%);
	--invert: 90%;
}