body:has(dialog[open]) {
	filter: blur(3px);
}

dialog {
	position: fixed !important;
	margin-block-start: 5vh !important;
	text-align: center;
	border-radius: var(--border-radius);
	box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
	border: 1px solid;
	border-color: var(--border-color);
	background-color: var(--body-backgroundcolor);
	color: var(--text-color);
}

@media (prefers-reduced-motion: no-preference) {
	dialog {
		transition: translate .5s cubic-bezier(.22, .61, .36, 1), scale .3s cubic-bezier(.22, .61, .36, 1);
	}
}

dialog .title {
	color: var(--heading-color);
	margin-block-end: 1rem !important;
}

dialog form {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-block-start: 1rem;
}

dialog img {
	max-width: 450px;
	max-height: 500px;
	min-height: 110px;
	transition: opacity .5s, margin-block-start .5s;
	width: 100%;
	aspect-ratio: initial;
	object-fit: contain;
}

dialog #explanationLink {
	display: block;
	position: relative;
}

dialog #explanationLink::after {
	display: block;
	content: 'Click to enlarge';
}

dialog #explanationContent .dialog-center {
	display: flex;
	justify-content: center;
}

dialog #explanationContent .dialog-list {
	text-align: left;
}

dialog #explanationContent :is(ul, ol) {
	margin: 1rem 0;
	padding-inline-start: 1rem;
}

dialog #explanationLink.loading::before {
	position: absolute;
	left: calc(50% - 2em);
	top: calc(50% - 3em);
	width: 4em;
	height: 4em;
	border: .4em solid var(--text-color);
	border-radius: 50%;
	border-inline-end-color: transparent;
	content: '';
	animation: spinner .75s linear infinite;
	opacity: .75;
	z-index: -1;
}

@keyframes spinner {
	to {
		transform: rotate(360deg)
	}
}

@media (max-height: 800px) {
	dialog.modal-content {
		max-height: 90dvh;
	}
}