/* Media Queries */
@media only screen and (max-width: 550px) {
	div.column {
		padding-left: 0;
		padding-right: 0;
	}

	main.columns {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width: 550px),
(1024px <=width <=1215px) {
	#portalglyphButtons {
		display: flex;
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 1023px) {
	.container {
		margin: 0 1rem;
	}

	#gallery_descs {
		margin: 0 .65em;
	}

	#output {
		border-left: none !important;
	}
}

@media (pointer:coarse) {
	.tooltip {
		width: 20px;
		min-width: 20px;
	}

	.checkbox {
		margin: 10px 0;
	}

	.checkboxes-grid {
		row-gap: 10px;
	}

	.handle {
		display: none;
	}

	.moveButton {
		display: flex !important;
	}

	.gallery-item .controlButtons .delete-icon {
		align-self: end;
	}

	.tooltip[onclick]:hover .tooltiptext {
		visibility: hidden;
		opacity: 0;
	}

	.tooltip[onclick] {
		-webkit-tap-highlight-color: transparent;
	}
}

/* Container Queries */
@container (max-width: 260px) {
	div.tableCell div.checkboxes-grid {
		grid-template-columns: 1fr;
	}
}

@container (max-width: 450px) {
	div.tableHeader div.checkboxes-grid {
		grid-template-columns: 1fr;
	}
}

@container (max-width: 125px) {
	div.tableCell div.radioButtons {
		display: block;
	}
}