@font-face {
  font-family: 'NMS-Glyphs-Mono';
  src:
    local('NMS-Glyphs-Mono'),
    url('../assets/fonts/NMS-Glyphs-Mono.ttf') format('truetype');
}

.glyphs {
  font-family: NMS-Glyphs-Mono;
  font-size: 2.5rem;
  word-break: break-all;
}

.monospace {
  font-family: monospace;
}

body {
  font-size: 1rem;
}

.link {
  color: $blue-7;
  text-decoration: none;
  transition: color var(--q-transition-duration);

  &:hover {
    color: $blue-4;
  }
}
