@import './fonts.css';
@import './variables.css';

.glyphs {
  font-family: NMS-Glyphs-Mono;
  font-size: 2.5rem;
}

.full-width {
  width: 100%;
}

.dialog-wrapper {
  width: min(100%, 640px);
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
