name: Lint JSDoc
run-name: Lint JSDoc Comments

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  Lint:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Lint JSDoc Comments
        uses: Lenni009/jsdoc2wiki-action/lint-doc@main
